.VitrineMobileDiv {
    display: none;
    flex-direction: column;
    
    background-color: #2b2b38;

    width: 100%;
}

@media (max-width: 1650px) {
    .VitrineMobileDiv {
        display: flex;
        align-items: center;
    }
}
