* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ABB2BF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #2b2b38;
    overflow-y: hidden;
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: row;
}
