.Item {
    padding: 12px;
    transition: transform   300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
                width       300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
                height      300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ParentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    width: 100%;
    padding-right: 28px;
}

/* max width 1346 */
