.Item {
    width: calc(50% - 16px);
    height: 50%;
    padding: 8px;
    margin-left: 16px;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Box {
    background-color: #323639;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */

    width: 100%;
    height: 100%;
}

.Contents {
    display: flex;
    flex-direction: row;
}

.ItemImg {
    object-fit: none;
}

h2 {
    text-align: center;
}

p {
    margin-left: 16px;
    margin-right: 16px;
}
