.Box {    
    border-width: 2px;
    border-style: solid;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
}

.ItemImg {
    width: 50%;
}

img {
    object-fit: cover;
}

.ItemTxt {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 16px;
}

h2 {
    text-align: center;
}

.BackButton {
    width: 50px;
    height: 50px;
}


/* LINKS AND SVGS */

.LinkBox {
    display: flex;
    padding-bottom: 16px;
}

.Svg {
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

#LinkSvg {
    background: url(../assets/svg/link.svg);
}

#GithubSvg {
    background: url(../assets/svg/github.svg);
}

#TwitterSvg {
    background: url(../assets/svg/twitter.svg);
}

#YoutubeSvg {
    background: url(../assets/svg/youtube.svg);
}


/* TAGS */

.TagBox {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.Tag {
    width: fit-content;
    padding: 5px;
    margin-right: 12px;
    margin-bottom: 12px;

    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

@media (max-width: 1650px) {
    .Box {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .ItemImg {
        width: 100%;
        height: 50%;
        align-self: center;
    }

    .ItemTxt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 50%;
    }

    img {
        object-fit: scale-down;
    }
}
