.VitrineDiv {
    display: flex;
    flex-direction: row;
    
    background-color: #282C34;

    width: 100%;
}

.ParentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    background-color: #282C34;

    width: 100%;
    padding-right: 28px;
}

.ButtonsDiv {
    display: flex;
    flex-direction: column;
    align-self: center;

    padding-left: 12px;
}

.Cursor {
    padding: 5px;
    display:block;
    height: 16px;
    width: 16px;

    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 50%;
    border: 2px solid #ABB2BF;
    outline:none;
    background: #282C34;
}

.CurrentCursor {
    display:block;
    height: 16px;
    width: 16px;

    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 50%;
    border: 2px solid #ABB2BF;
    outline:none;
    background: #ABB2BF;
}
