.VitrineDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    background-color: #282C34;

    width: 100%;
    padding: 8px;
}

.ButtonsDiv {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 99999;
}

.Cursor {
    padding: 5px;
    display:block;
    height: 16px;
    width: 16px;

    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 50%;
    border: 2px solid #ABB2BF;
    outline:none;
    background: #282C34;
}

.CurrentCursor {
    display:block;
    height: 16px;
    width: 16px;

    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 50%;
    border: 2px solid #ABB2BF;
    outline:none;
    background: #ABB2BF;
}
